$btnGrey: #979797;
$btnGreyHover: #bababa;
$btnOrange: #f58220;
$btnOrangeHover: #ffa200;
$btnDisable: #e3e3e3;
$btnColor: #fff;
$btnFontFamily: 'Roboto', sans-serif;
$btnFontWeight: 300;
$btnFontSize: 18px;

$heightBody: 50px;
$heightHead: 70px;